@media screen and (max-width: 1000px) {
  .main-content {
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    justify-content: center;
    margin: auto;
  }

  .image-content {
    display: none;
  }

  .row-cols-3 .col {
    width: 50%;
    padding: 20px;
  }

  .text1 {
    font-size: 45px;
  }

  .text2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 825px) {
  .row-cols-3 .col {
    width: 50%;
  }

  .main-content {
    text-align: center;
    justify-content: center;
    margin: auto;
  }
}

@media screen and (max-width: 770px) {
  .row-cols-3 .col {
    width: 100%;
  }

  .text1 {
    font-size: 35px;
    text-align: center;
  }
  .text2 {
    font-size: 12px;
    text-align: center;
  }
  .search {
    display: none;
  }

  .main-content {
    text-align: center;
    justify-content: center;
    margin: auto;
  }

  .menu-section .row .col {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
